[package]
name = "survey-rs"
version = "0.1.0"
authors = ["Mikael Mello <git@mikaelmello.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
termion = "1"
unicode-segmentation = "1"
simple-error = "0.2.3"