allow-branch = ["main"]
enable-all-features = true

pre-release-commit-message = "chore: release v{{version}}"

pre-release-replacements = [
  {file="README.md", search="inquire = \".*\"", replace="{{crate_name}} = \"{{version}}\""},
  {file="README.md", search="inquire = \\{ version = \"[\\.0-9]*\"", replace="{{crate_name}} = { version = \"{{version}}\""},

  {file="CRATE_README.md", search="inquire = \".*\"", replace="{{crate_name}} = \"{{version}}\""},
  {file="CRATE_README.md", search="inquire = \\{ version = \"[\\.0-9]*\"", replace="{{crate_name}} = { version = \"{{version}}\""},

  {file="CHANGELOG.md", search="Unreleased", replace="{{version}}"},
  {file="CHANGELOG.md", search="\\.\\.\\.HEAD", replace="...{{tag_name}}", exactly=1},
  {file="CHANGELOG.md", search="<!-- ReleaseDate -->", replace="- {{date}}"},
  {file="CHANGELOG.md", search="<!-- next-header -->\n", replace="<!-- next-header -->\n\n## [Unreleased] <!-- ReleaseDate -->\n\n- No changes since the latest release below.\n", exactly=1},
  {file="CHANGELOG.md", search="<!-- next-url -->\n", replace="<!-- next-url -->\n\n[Unreleased]: https://github.com/mikaelmello/inquire/compare/{{tag_name}}...HEAD", exactly=1},
]
